{% extends "layout.html" %}
{% block content %}
<h2>Register</h2>
<form action="/register" method="POST">
  <label>Email:</label><br>
  <input type="email" name="email" value=""><br>
  <label>Password:</label><br>
  <input type="password" name="password" value=""><br><br>
  <label>Password Confirm:</label><br>
  <input type="password" name="passwordconfirm" value=""><br><br>
  <label>First Name:</label><br>
  <input type="text" name="firstname" value=""><br>
  <label>Last Name:</label><br>
  <input type="text" name="lastname" value=""><br><br>
  <input type="submit" value="Submit">
</form> 
<p>{{ message }}</p>
{% endblock %}

